<!doctype html>
<html lang="en">
<head>
    {% include "partials/head.html" %}
    <style>
    body { opacity: 0; }
    body.loaded { opacity: 1; transition: opacity 0.3s ease; }
    </style>
</head>
<body>
    {% include "partials/noise.html" %}
    {% include "partials/nav.html" %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% block footer %}{% include "partials/footer.html" %}{% endblock %}

    <script type="module" src="/static/main.js"></script>
</body>
</html>
